$body-color: rgb(77, 77, 77);
$background-color: rgb(254, 254, 253);
body {
  color: $body-color;
  background-color: $background-color;
  font-family: sans-serif;
  margin: 0px;
  padding:0px;

}

#countText{
  color: $body-color;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 250% !important;
  }
  .gifimage {
    width: 240px;
  }
  
}